.details-view-task {
    width: 100%;
    height: calc(100vh - 70px);
    position: absolute;
    top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }
  
  .scrollbar-cont {
    position: relative;
    width: 80vw;
    height: 70vh;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    padding: 30px 10px;
    transform: translateY(-20px);
    box-sizing: border-box;
  }
  
  .details-view-task-div {
    height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
  }
  
  .details-view-task-div h1 {
    color: #001696;
    text-align: center;
    padding-bottom: 10px;
  }
  
  .details-task-cont {
    background-color: white;
    margin: 5px 10px;
    padding: 15px 20px;
    border-radius: 15px;
    height: 100%;
    position: relative;
  }
  
  .details-task {
    padding: 20px;
  }
  
  .details-task h3 {
    padding-bottom: 10px;
  }
  
  .details-task b {
    font-weight: lighter;
    color: #001696;
  }
  
  .details-task p {
    padding-top: 10px;
  }
  
 .details-view-task-div::-webkit-scrollbar {
    width: 8px;
}

.details-view-task-div::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.details-view-task-div::-webkit-scrollbar-thumb {
    background: #001696;
    border-radius: 10px;
}

.details-view-task-div::-webkit-scrollbar-thumb:hover {
    background: #0040d1;
} 