.project-header {
    height: 150px;
    padding: 0px 100px;
    display: flex;
    align-items: center;
}

.project-header img {
    height: 70%;
    margin-right: 70px;
}

.project-header>div {
    background-color: rgba(0, 0, 255, 0.226);
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    color: #001696;
    line-height: 22px;
    display: flex;
    align-items: center;
}

.project-header i {
    margin-right: 15px;
    font-size: 18px;
}

.projects-names>div {
    border-radius: 10px;
    margin: 10px;
    padding: 10px 20px;
}

.projects-names h1 {
    color: #001696;
}

.projects-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 10px 70px;
    gap: 15px;
}

.project-grid-opened {
    padding: 10px 80px;
}

.project-details {
    background-color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
    line-height: 35px;
}

.project-details h1 {
    color: #001696;
    font-size: 22px;
}

.project-details b {
    font-size: 16px;
}

.project-tasks {
    margin: 20px 70px;
    padding: 20px 35px;
    background-color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px ;
}

.project-tasks table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 15px;
}

.project-tasks table td, .project-tasks table th {
    width: 20%;
}

.project-tasks h1 {
    padding-bottom: 10px;
    color: #001696;
}

.project-tasks table thead {
    font-weight: bold;
    text-align: center;
}

.project-tasks table td{
    border: 1px solid black;
    padding: 10px 15px;
}

.timer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timer button {
    background-color: #001696;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 4px 20px;
}

.action-btn {
    display: flex;
    justify-content: center;
    width: 100%;
}

.action-btn button {
    background-color: #001696;
    color: white;
    padding: 4px 15px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
}

.action-btn button:first-child {
    padding: 4px 22px;
}

.tasks-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.tasks-head button {
    background-color: #001696;
    color: white;
    padding: 8px 25px;
    border: none;
    border-radius: 10px;
}

.pending {
    background-color: rgb(255, 195, 156);
}

.completed {
    background-color: rgb(162, 255, 193);
}

.progress {
    background-color: #8295ff;
}

@media (max-width: 1200px) {
    .projects-grid {
        grid-template-columns: 5fr 2fr;
    }
}

@media (max-width: 980px) {
    .project-details {
        padding: 10px;
        line-height: 25px;
    }
    .action-btn, .timer {
        flex-direction: column;
        gap: 4px;
    }
    .project-header {
        padding: 0 70px;
    }
}

@media (max-width: 840px) {
    .project-header img {
        margin-right: 20px;
    }
    .projects-grid {
        grid-template-columns: 2fr 1fr;
    }
}

@media (max-width: 786px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }
    .project-details {
        padding: 20px;
        margin: 0 10px;
        line-height: 30px;
    }
    .project-header img {
        display: none;
    }
    .project-tasks table tr {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 10px;
    }
    .project-tasks table tr td {
        width: 90%;
        border: none;
    }
    .project-tasks table thead {
        display: none;
    }
    .action-btn, .timer {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .action-btn button, .timer div, .timer button {
        width: 100px;
    }
    .timer div {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 650px) {
    .project-header>div {
        padding: 8px;
        font-size: 14px;
    }
}

@media (max-width: 550px) {
    .project-header>div:nth-child(3) {
        display: none;
    }
}