* {
  margin: 0;
  padding: 0;
}
 
body {
  width: 100vw;
  overflow-x: hidden;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

.no-scroll {
  overflow-y: hidden;
}

.app-cont {
  width: calc(100vw - 250px);
  margin-left: 240px;
}

@media (max-width: 860px) {
  .app-cont {
    width: 100%;
    margin-left: 0;
  }
}